# editors
/.idea
# downloads & temporary files
/mnt/
/tmp/
*.img
/kernels/*
/sets/**/*.xz
/images/*
/pkgs/**/*.tgz
/db/**
netbsd-*
# app build & env
/app/bin/
/app/lib/
/app/pyvenv.cfg
/sailor/
# personal keys
/service/sshd/etc/*.pub